@charset "utf-8";
[data-tab-content]{
	display: none;
}
.active[data-tab-content]{
	display: block;
	
}
.tab_container{
	display: flex;
	list-style-type: none;
	margin: auto;
	padding: 0;
	width: min-content;
}
.tabs{
	cursor: pointer;
	padding: 10px;
	float: left;
	display: flex;
}
.tab{
	position: relative;
}
.tab_image{
	position: absolute;
}
.tab_image_active{
	position: relative;
	opacity: 0
}

.tab_image_active:hover{
	opacity: 1
}
.tab.nonactive:hover{
	opacity: 1
}
.tab.nonactive{
	opacity:.5;
}

.header_container{
	display: flex;
	margin: auto;
	padding: 40px 10px 20px 10px;
	width: min-content;
}
.heeader_img{
	position: relative;
	cursor: pointer;
	padding: 10px;
	float: left;
	display: flex;
}
.heeader_img:hover{
	cursor: pointer;
}

.top_image_header{
	position: absolute;
}
.image_header_hover{
	position: relative;
	opacity: 0;
}
.image_header_hover:hover{
	opacity: 1;
	cursor: pointer;
}

#artist_content{
	display: flex;
	padding: 50px;
	margin: auto;
	max-width: 50vw;
	flex-wrap: wrap;
}

#artist_block{
	opacity: .85;
	padding: 50px;
	margin: auto;
}
#artist_block:hover{
	opacity: 1;
	cursor: pointer;
}
#artist_block:hover img{
  	-webkit-filter: drop-shadow(0 0 10px white);
  	filter: drop-shadow(0 0 10px white);
}


#home_content{
	margin: auto;
}

#release_container{
	display: flex;
	padding: 50px;
	margin: auto;
	max-width: 50vw;
	flex-direction: column
}

#release_video{
	margin: auto;
	padding-top: 10px;
}
#release_video:hover{
	opacity: .8;
	cursor: pointer;
}
#release_video:hover img{
  	-webkit-filter: drop-shadow(0 0 10px white);
  	filter: drop-shadow(0 0 10px white);
}


#releasing_artist_logo{
	margin: auto;
}

#merch_content{
	margin: auto;
	padding-top: 100px;
}

#merch_video{
	margin: auto;
	padding-top: 10px;
	opacity: .5;
}

#socials_content{
	margin: auto;
	display: flex;
	padding-top: 50px;
	flex-direction: column;
}

.socials_img{
	position: relative;
	cursor: pointer;
	padding: 0px;
	margin: auto;
}

#releases_content{
	display: flex;
	padding: 50px;
	margin: auto;
	max-width: 50vw;
	flex-wrap: wrap;
}


#release_block{
	padding: 50px;
	margin: auto;
}
#release_block:hover{
	opacity: .8;
	cursor: pointer;
}

#release_block:hover img{
  	-webkit-filter: drop-shadow(0 0 10px white);
  	filter: drop-shadow(0 0 10px white);
}


body{
	padding: 0;
	margin: 0;
	background-color: black;
	display: flex;
	flex-direction: column;
}