@charset "utf-8";
/* CSS Document */
body {background-color: black;}

.videoContainer {	
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#video {
  width: 75vw;
}