@charset "utf-8";
/* CSS Document */
body {background-color: black;}

.page {	
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  padding: 10px; 
}

.videoContainer {
	padding: 5px;
	max-width: 1400px;
    width: 75vw;
	margin-top: 10px;
}


#video {
  height: 100%;
  width: 100%;
}

.social {
	margin: 40px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link {
	align-self: center;
}

.button-image {
	max-width: 600px;
	width: 50vw;
}

.link:hover {
	opacity: 60%
}

#spacer {
	height: 5vh;
}